<div class="relative bg-cover bg-center px-22 py-64 p-10 text-white" style="background-image: url('<%= bgImage %>');">
  <!-- Overlay scuro -->
  <div class="absolute inset-0 bg-black/50"></div>
  
  <!-- Contenuto -->
  <div class="relative">
    <div class="flex md:flex-row flex-col justify-center items-center  gap-10 space-y-5">
      <h1 class="text-6xl break-words w-96 md:text-end text-center pr-0 md:pr-10 border-r-0 md:border-r-2 border-[#266ca9]"><%= title2 %></h1>
      <p class="md:w-120 w-auto text-2xl md:text-start text-center"><%= text2 %></p>
    </div>
  </div>
</div>